@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="POST">
    <label for="begYear">Beginning year</label>
    <input name="begYear" />

    <label for="endYear">End year</label>
    <input name="endYear" />

    <button type="submit">Find Person</button>
</form>